body
{  background-color: #333333;
   
    font-family: sans-serif;
    
}
nav
{   padding: 6px 2px;
    border-radius: 30px;
    border: 2px solid #B1A592 ;
    display: flex;
    align-items: center;
}

nav button
{

  border-radius:50px;
  color:#B1A592 ;
  background-color: transparent;
  border: 2px solid #B1A592;
  padding:15px 50px ;
  margin-left: 8px;
}
nav .b
{
  margin-left: 48%;
}
.n 
{
    display: none;
}

.content
{
    color: #333333;
    
}
.content button
{    border-radius:50px;
    background-color: transparent;
    border:1px solid #333333;
    color: #333333;
    padding:7px 45px ;
    margin-left: 30px;



}

.left
{ 
    display: flex;
    flex-direction: column;
    background-color: #DFD6C5;
    align-items: start;
    padding: 20px 15px;
    border-radius: 10px;
}
.top
{   display: flex;
    background-color:#8E886D ;
    align-items: center;
    border-radius: 10px;
    padding: 20px 15px;
    gap: 20px;
}
.A
{
    display: flex;
    flex-direction: column;
    background-color: #916E58;
    align-items: start;
    border-radius: 10px;
    padding: 20px 15px;
}
.B
{  display: flex;
    flex-direction: column;
    background-color: #B1A48E;
    align-items: start;
    border-radius: 10px;
    
    padding: 0px 15px;
  
}


.bottom
{
    margin-top: 20px;
    display: flex;
    height: 69%;
    gap: 10px;
   
}
.content
{  padding:10px 10px ;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 10px;
}
.content h4
{  
    border-top:2px solid #333333;

   margin: 24px auto;
}
.left h4
{
    margin-top: 80px;
}
.B h4
{
    margin-top: 60px;
}

.material-icons
{
    margin-left: 85%;
}
nav button:hover
{
    color: #333333;
 background-color: #B1A592;
}
.content img:hover
{
 transform:scale(1.03);
}
@media (max-width:700px)
{  .n
    {  
        display:inline-flex;
        padding: 8px 110px;
        padding-right:0px;
        border: 2px solid #B1A592;
    }


  .m
  { 
    display:none;

  }
  .content
  {  display:inline-block;
   
 
  }
  .left
  { 
    margin-bottom: 40px;
  }
  .content .bottom
  {
    height: 30%;
  }
}
